<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>Colorfl</title>
=======
  <title>Colorful</title>
>>>>>>> d732f67ae569d355108fc298ebe330b6749ac0e3
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
